*{
    box-sizing: border-box;
}
body {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}
.menu li a {
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
.menu li a:hover {
  color: red;
}
.menu .mlist {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.menu ul li {
  padding: 0 0.2rem;
  
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
.menunav ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    margin: 0;

}
.menunav ul li {
    padding: 0 0.5rem;
  }
  .menunav ul li a{
      font-size: 26px;
      color: #333;
  }
  .logoholder{
      padding: 0 5rem ;
      width: 30%;
  }
  .menu,
  .logoholder,
  .menunav{
      width: 30%;
  }
  .menunav{
      display: flex;
  }
.dropmenu{
    opacity: 0;
    background-color: #f8f8f8;
    padding: 0.5rem ;
    position: absolute;
    width: 100px ;
    transition: all .7s;
    
}
.dropmenu li {
    display: block;
    width: 100%;
    font-size: 21px;
}
.mlist li:first-child:hover .dropmenu {
    opacity: 1;
}
.mlist li:nth-child(2):hover .dropmenu{
    opacity: 1;
}
.mlist li:nth-child(3):hover .dropmenu{
    opacity: 1;
}
