* {
  box-sizing: border-box;
}
body {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}
.menu li a {
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
.menu li a:hover {
  color: rgb(255, 255, 255);
}
.menu .mlist {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: absolute;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(124, 124, 124, 0.4248074229691877) 0%,
    rgba(255, 252, 252, 0) 85%
  );
}
.menunav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
}
.menunav ul li {
  padding: 0 0.5rem;
}
.menunav ul li a {
  font-size: 18px;
  color: #333;
}
.logoholder {
  padding: 0 5rem;
  width: 30%;
}
.menu,
.logoholder,
.menunav {
  width: 30%;
}
.menunav {
  display: flex;
}
.dropmenu {
  display: none;
  background-color: white;
  padding: 1rem 0;
  position: absolute;
  width: 100px;
  transition: all 0.7s;
  left: 0;
  top: 38px;
}
.dropmenu-item {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.5rem 1rem;
}
.mlist li:first-child:hover .dropmenu {
  display: block;
}
.mlist li:nth-child(2):hover .dropmenu {
  display: block;
}
.mlist li:nth-child(3):hover .dropmenu {
  display: block;
}
.arka {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/arkaplan.png);
  background-size: cover;
  background-position: center;
}
.mlist-item {
  padding: 5px 0.3rem;
  position: relative;
}
.mlist-item:hover {
  border-bottom: 1px solid black;
}
.animasyon {
  padding: 0 0 0 64px;
}
.animasyon-cinsiyet {
  background-color: black;
  color: white;
  font-size: 14px;
  letter-spacing: 3px;
  font-style: bold;
  padding: 0.8rem 0.8rem;
  margin: 0 15px 0 0;
  border: 1px solid black;
}
.animasyon-cinsiyet:hover {
  color: revert;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
}
.aciklama-yazi {
  text-align: center;
  padding: 2.3rem 2.5rem;
  font-weight: 100;
}

.side-menu {
  width: 0px;
  position: fixed;
  z-index: 10000;
  right: 0;
  overflow: scroll;
  background: #f3f3f3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.inner-padding {
  padding: 3rem;
}
.closer {
  width: 100%;
  padding: 1rem 0;
  font-size: 40px;
  color: var(--close-color);
}
.closer span {
  text-align: end;
  display: block;
  cursor: pointer;
}
.side-menu ul li a {
  text-decoration: none;
  color: var(--menu-baslik-rengi);
  font-size: var(--menu-baslik-font);
  font-family: var(--menu-baslik-font-family);
  font-weight: 300;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.side-menu ul li {
  list-style: none;
  width: 100%;
  position: relative;
  padding: 1rem 0;
  border-top: 1px solid var(--li-border-color);
  cursor: pointer;
}
.side-menu ul li .sub-menu {
  max-height: 0px;
  overflow: hidden;
}
.sub-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.side-menu ul li .coret {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  height: 24px;
  color: var(--donen-oklar);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.side-menu ul li .sub-menu {
  max-height: 0px;
  overflow: hidden;
}
.user-nav {
  padding: 1rem 0;
  display: flex;
}
.user-nav a {
  padding-right: 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
.inner-padding {
  padding: 3rem;
}
.w-500 {
  width: 500px;
}
.stars {
  position: relative;
  text-align: center;
  padding: 23px;
}
.col-lg-4 h3 {
  text-align: center;
  position: relative;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.github:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.ureticiler {
  padding: 2.3rem 2.5rem;
  justify-content: space-between;
}
.col-sm {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.col-sm h3 {
  padding: 2.3rem 2.5rem;
  justify-content: space-between;
  display: flex;
}
.col-md {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.mankenler {
  justify-content: space-between;
}
